@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here you can park your vehicle safely with 24h surveillans.</p>
<p>We accept cars, trucks, motorcycles, Motor Homes and trailers.</p>
<p>We are cost effective with a rate of 60 kr/h.</p>
