@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Supergatan 15<br />
    111 11 Stockholm, Sweden<br />
    <abbr title="Phone">Phone:</abbr>
    08-111 11 11
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@garage20.se">Support@garage20.se</a><br />
    <strong>Info:</strong> <a href="mailto:ínfo@garage20.se">Info@garage20.se</a>
</address>